@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('../src/assets/fonts/museo-sans-rounded-cdnfonts/MuseoSansRounded100.otf');
}

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Museo Sans Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.375rem;

  .offcanvas {
    height: fit-content !important;
    overflow: hidden;
  }

  .block--black {
    background-color: black;
    color: white;
  }

  .block--white {
    background-color: white;
    color: black;
  }

  .block--pink--n--orange {
    background-color: orangered;
    background-image: linear-gradient(
      to bottom,
      rgb(100, 0, 100),
      rgb(175, 15, 0)
    );
    // background-image: linear-gradient(to bottom, #BB3891, #F37121);
    color: white;
  }

  .border--block {
    border-top: 0.1px solid gray;
  }
}

.padded--content {
  @media only screen and (max-width: 575px) {
    padding: 20px;
  }

  @media only screen and (min-width: 576px) and (max-width: 991px) {
    padding: 20px;
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding: 20px;
  }

  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    padding: 20px 8%;
  }

  @media only screen and (min-width: 1400px) {
    padding: 20px calc(18% + 18px);
  }
}
