<div class="footer block--black">
    <div class="padded--content">
        <div class="container-fluid">
            <ul class="social">
                <li class="social-list-item"><a href="https://www.facebook.com/people/Faith-School-of-Music/61552769376589/" class="fa-brands fa-facebook-f"></a></li>
                <li class="social-list-item"><a href="https://www.youtube.com/@FaithSchoolofMusic" class="fa-brands fa-youtube"></a></li>
                <li class="social-list-item"><a href="https://www.instagram.com/faithschoolofmusic/" class="fa-brands fa-instagram"></a></li>
                <li class="social-list-item"><a href="" class="fa-brands fa-linkedin-in"></a></li>
            </ul>
            <ul class="secondary-nav">
                <li class="list-item"><a>support the school</a></li>
                <li class="list-item"><a>about us</a></li>
                <li class="list-item"><a>news</a></li>
                <li class="list-item"><a>multimedia</a></li>
            </ul>
        </div>
    </div>
    <div class="border--block">
        <div class="padded--content">
            <div class="container">
                <div class="empty--padding"></div>
                <div class="tertiary-nav">
                    <ul class="nav-list">
                        <li class="list-item"><a>students and staff portal</a></li>
                        <li class="list-item"><a>library</a></li>
                    </ul>
                </div>
                <div class="tertiary-nav">
                    <ul class="nav-list">
                        <li class="list-item"><a>contact us</a></li>
                        <li class="list-item"><a>work with us</a></li>
                    </ul>
                </div>
                <div class="tertiary-nav">
                    <ul class="nav-list">
                        <li class="list-item"><a>terms and conditions</a></li>
                        <li class="list-item"><a>policies and procedures</a></li>
                    </ul>
                </div>
                <div class="empty--padding"></div>
                <ng-container>
                    <div class="name">{{schoolName}}</div>
                    <div class="address">{{schoolAddress}}</div>
                    <div class="phone"><span>mobile </span>{{phoneNumber}}</div>
                </ng-container>
                <div class="empty--padding"></div>
                <div class="empty--padding"></div>
                <div class="empty--padding"></div>
                <div></div>
        </div>
    </div>
</div>
