<div class="carousel-placeholder backdrop">
  <img
    src="../../../assets/images/home/carousel/instrumental-hands.jpeg"
    class="d-block w-100"
  />
</div>

<div class="block--pink--n--orange padded--content intro">
  <div class="optional-design offset-lg-5">
    <img src="">
  </div>
  <div class="row heading col-lg-6 offset-lg-6 offset-xl-8">
    <h2>Music for all</h2>
  </div>
  <div class="row text col-lg-6">
    <p>
      We are a community of people from all walks of life, who share a common
      passion for music.
      We strive to help people become a better version of the musician they are.
      Be a seasoned musician or a beginner exploring your musical avatar,
      everyone has a place in our community.
    </p>
  </div>
</div>

<div class="block--white padded--content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<div class="block--white padded--content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<div class="block--white padded--content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<div class="block--white">
  <div class="marquee-container">
    <div *ngFor="let image of images" class="marquee-item">
      <img [src]="image" alt="Image" />
    </div>
  </div>
</div>

<div class="block--white padded--content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<div class="block--black padded--content">
  <div class="school-guide-container">
    <div class="image-container">
      <img src="../../../assets/images/home/other/ethan-piano.jpg" />
    </div>
    <div class="text-container">
      <span class="heading">{{ "school guide " + academicYear }}</span>
      <span class="text"
        >Discover all you need to know about our community and how you can
        become a part of it.</span
      >
      <a>
        <span> download the school guide </span>
        <i class="fa-solid fa-arrow-down-long"></i>
      </a>
    </div>
  </div>
</div>
<div class="block--white padded--content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
