.backdrop {
  height: 100vh;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 62% 10%;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;

  .heading h2 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 60px;
    padding: 20px;
  }
  .optional-design {
    height: 50px;

    img {
      object-fit: contain;
    }
  }

  .text p {
    padding: 10px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 100;
  }

  @media only screen and (max-width: 575px) {
    
  }

  @media only screen and (min-width: 576px) and (max-width: 991px) {
    
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    
  }

  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
   
  }

  @media only screen and (min-width: 1400px) {
     
  }
}

.marquee-container {
  display: flex;
  overflow: hidden;
}

.marquee-item {
  flex-shrink: 0;
  animation: marquee 240s linear infinite;

  img {
    width: auto;
    overflow: hidden;
    padding-left: 99vw;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.school-guide-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px 0px;

  .image-container {
    width: 70%;
    img {
      width: 100%;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 40px 20px 40px;
    font-weight: 200;
    letter-spacing: 1px;

    .heading {
      text-transform: uppercase;
    }

    a {
      padding: 12px 0px;
      span {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 2px;
        display: inline-block;
        position: relative;
        text-decoration: none;
        text-align: center;
        padding: 4px 0px;
        margin-right: 4px;
      }
      span::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        border-radius: 5px;
        height: 0.05em;
        bottom: 0;
        left: 0;
        background: orangered;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      span:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      i {
        color: orangered;
      }

      span:hover + i {
        display: none;
      }
    }

    /* Max width 767px */
    @media only screen and (max-width: 767px) {
      .heading {
        font-size: 32px;
        line-height: 40px;
      }

      .text {
        padding: 4px 0px;
      }
    }

    /* Min width 576px to Max width 767px */
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .heading {
        font-size: 32px;
        line-height: 40px;
      }

      .text {
        padding: 4px 0px;
      }
    }

    /* Min width 768px to Max width 991px */
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .heading {
        font-size: 36px;
        line-height: 42px;
      }

      .text {
        padding: 4px 0px;
      }
    }

    /* Min width 992px to Max width 1199px */
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .heading {
        font-size: 44px;
        line-height: 48px;
      }

      .text {
        padding: 8px 0px;
      }
    }

    /* Min width 1200px to Max width 1399px */
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      .heading {
        font-size: 48px;
        line-height: 52px;
      }

      .text {
        padding-left: 12px 0px;
      }
    }

    /* Min width 1400px */
    @media only screen and (min-width: 1600px) {
      padding-left: 120px;
      .heading {
        font-size: 48px;
        line-height: 52px;
        padding-bottom: 16px;
      }

      .text {
        padding: 16px 0px;
      }
    }
  }
}


